{# src/Biotopedia/CoreBundle/Resources/views/Image/conditionsUtilisation.html.twig #}

{% extends "BiotopediaCoreBundle::layout.html.twig" %}

{% block title %}
   Conditions d'utilisation du site Biotopedia.fr - {{ parent() }}
{% endblock %}

{% block titre %}
  {{ parent() }}<h3 class="content-titre">Conditions d'utilisation du site Biotopedia.fr</h3>
{% endblock %}

{% block biotopediacore_content %}

	<p>Le membre s'engage à ne pas proposer de lien hypertexte pointant vers des sites ou des pages non conformes à la législation française.

Le membre s'engage à ne pas diffuser d'informations trompeuses en sachant que celles-ci sont erronées, et à ne tenir aucun propos de nature diffamatoire.

Le membre s'engage à ne pas proposer de pages, d'images, de textes, de vidéos, de sons ou d'animations non conformes à la législation française.

Pour toutes les données protégées par un droit de propriété, le membre doit obtenir les autorisations préalables auprès des titulaires de droits dans les conditions légales avant toute reproduction, représentation et communication au public.

Le membre s'engage expressément à assumer la responsabilité des textes, images, programmes ou sons diffusés par ses soins par l'intermédiaire du site AquaBase.org.

Ainsi, le membre s'engage à décharger l'auteur du site AquaBase.org (Ludovic Robinot) de toute responsabilité en ce qui concerne les services ou informations, signes, images, graphismes, sons ou toutes autres données multimédias qu'il aura mis à disposition du public.

L'auteur du site AquaBase.org se réserve le droit de supprimer sans préavis toute information ou message, non conforme aux présentes recommandations.

Merci de votre compréhension.</p>
{% endblock %}